html {
  color: #333;
  font-family: 'Open Sans', sans-serif;
}

a:link,
a:visited {
  text-decoration: none;
  color:#888;
  transition: color 0.5s linear;
}

a:hover {
  color:#444;
  cursor: pointer;
  cursor: hand;
}

.intro,
.kitten,
.puppy {
  display: inline-block;
  margin: 1rem 2rem;
  padding: 0.5rem;
}

.intro {
  float: left;
  max-width: 500px;
}

.intro h1 {
  font-family: 'Amatic SC', cursive;
  font-size: 5rem;
  font-weight: 400;
  margin: 0 .3rem;
}

.intro h2 {
  font-size: 1.3rem;
  font-weight: lighter;
  font-style: italic;
  margin: -0.6rem .3rem 3rem;
}

.intro p {
  font-size: 1rem;
  line-height: 1.2rem;
}

img {
  display: inline-block;
  line-height: 0;
  opacity: 0.8;
  transition: all 1s;
}

img:hover {
  opacity: 1;
  transition: all 1s;
}

footer {
  font-size: 0.8rem;
  margin: 1rem 2rem;
  padding: 0.5rem;
  clear: both;
  float: left;
}
